.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(128, 128, 128, 0.254);
  border-radius: 5px;
  width: fit-content;
  background-color: #f4caca3a;
}

.label span {
  color: var(--color-text);
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.label svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--color-text-secondary);
  color: #e58989;
}
